version: 2
jobs:
  build:
    docker:
      - image: circleci/buildpack-deps:trusty-scm
    working_directory: ~/build
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: build-and-deploy
          command: |
            if [[ "$CIRCLE_BRANCH" == "master" ]]; then
              DOCKER_IMAGE="$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME"
              DOCKER_TAG="$CIRCLE_SHA1"
              docker info
              docker build -t $DOCKER_IMAGE:$DOCKER_TAG .
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker tag $DOCKER_IMAGE:$DOCKER_TAG $DOCKER_IMAGE:latest
              docker push $DOCKER_IMAGE:$DOCKER_TAG
              docker push $DOCKER_IMAGE:latest
            fi
workflows:
  version: 2
  primary:
    jobs:
      - build
